In [12]:
import numpy as np
import pandas as pd
from scipy.stats import linregress

In [2]:
allData = pd.read_csv("load_cell_cal_2020-01-23.csv")

# The gain of the amplifier on port 1 seemed far too low,
# so exclude if from the good data.
goodData = allData[allData["Port No."] != 1]

In [3]:
allData.columns

Index(['Load Cell S/N', 'Port No.', 'Direction', 'Force (lbs)', 'ADC Conv.'], dtype='object')

In [4]:
set(allData["Load Cell S/N"])

{1818000254, 1818000259, 1818000262}

In [10]:
tension254 = goodData[(goodData["Load Cell S/N"] == 1818000254)
                    & (goodData["Direction"] != "Compression")
                    & (goodData["Port No."] == 3)]
tension254

    Load Cell S/N  Port No. Direction  Force (lbs)  ADC Conv.
4      1818000254         3       NaN            0       2031
7      1818000254         3   Tension           50       2192
10     1818000254         3   Tension          100       2367
12     1818000254         3   Tension          150       2544

In [15]:
linregress(tension254["Force (lbs)"], tension254["ADC Conv."])

LinregressResult(slope=3.428, intercept=2026.4, rvalue=0.9997577295137002, pvalue=0.00024227048629976713, stderr=0.05336665625650154)

In [18]:
tension259 = goodData[(goodData["Load Cell S/N"] == 1818000259) 
                    & (goodData["Direction"] != "Compression")
                    & (goodData["Port No."] == 2)]
tension259

    Load Cell S/N  Port No. Direction  Force (lbs)  ADC Conv.
5      1818000259         2       NaN            0       2030
8      1818000259         2   Tension           50       2202
11     1818000259         2   Tension          100       2378
13     1818000259         2   Tension          150       2532

In [19]:
linregress(tension259["Force (lbs)"], tension259["ADC Conv."])

LinregressResult(slope=3.364, intercept=2033.2, rvalue=0.9995944675029271, pvalue=0.00040553249707286904, stderr=0.06776429738439169)

In [21]:
goodData[goodData["Direction"] != "Tension"]

    Load Cell S/N  Port No.    Direction  Force (lbs)  ADC Conv.
1      1818000254         2          NaN            0       2018
2      1818000259         3          NaN            0       2041
4      1818000254         3          NaN            0       2031
5      1818000259         2          NaN            0       2030
17     1818000262         2  Compression           45       1959
18     1818000262         2  Compression           90       1959
19     1818000254         3  Compression           90       1965
20     1818000254         3  Compression           45       1963